body{
  margin: 0px;
}

footer {
  position: fixed;
  z-index: 10;
  text-align: center;
  width: 100%;
  background-color: #ee6e73;
}

footer a{
  color: white;
}

h2{
  font-family: sans-serif;
  font-size: 1.5em !important;
  line-height: 1.5 !important;
  margin: 8px 0px 0px 50px !important;
}

nav label{
  color: white;
}

footer img{
  height: 23px;
  width: auto;
  position: relative;
  margin: 3px;
  top: 6px;
}

.checks{
  position: relative;
  width: 200px;
  margin: 0px;
  float: left;
}

.input-field{
  margin: 0;
  height: 100%;
  width: 400px;
  float: right;
}

#inputs{
  position: relative;
  left: 50%;
  top: -3px;
}

#logo{
  height: 40px;
  width: auto;
  position: absolute;
}

#kopf{
  background-color: #f99290;
  height: 43px;
}

#kopf *{
  display: inline-block;
  color: white;
}

#kopf span{
  position: relative;
  top: -2px;
  left: -10px;
}

#map-frame {
  position: relative;
}
#map{
  z-index: 1;
  height: 720px;

}
