h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
  color: #108d51


}

#suchfeld{
  text-align: center;
  font-size: 25px;
  position: relative;
  left: 36.5%;
  top: 5%;
}

#btn-search{
  text-align: center;
  font-size: 25px;
  position: relative;
  left: 36.5%;
  top: 5%;
}

.checks{
  text-align: center;
  font-size: 25px;
  position: relative;
  left: 39%;
  top: 5%;
}


#kopf{
  background-color: #aeaeae;
  padding: 10px;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}
.logo{width: 30%}

footer {
  text-align: center;
  left: 9em;
  right: 9em;
  background-color: #a1a1ee;
}

a:link, a:visited {
    color: #000000;
}

a:active{
    color: #FFFFFF;
}

a:hover{
    color: #FF0000;
    font-weight: bold;
}
